.navbar-wrapper {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  /* right: 50; */
  box-sizing: border-box;
  margin: 30px auto;
  width: 95%;
  background-color: black;
  height: 108px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  transition: height 0.3s ease-in-out;
}

.navbar-wrapper.accordOpen{
  height: 372px;
}

.links{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.links h1{
  color: white;
  font-size: x-large;
  margin: 10px auto;
}

.accordion-title {
  height: 68px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brandname {
  user-select: none;
  background: -webkit-linear-gradient(
    180deg,
    #eee,
    #535353,
    #eee,
    #535353,
    #eee,
    #535353,
    #eee,
    #535353,
    #eee
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position-x: left;
  animation: grad 5s linear infinite;
}

@keyframes grad {
  from {
    background-position-x: left;
  }
  to {
    background-position-x: right;
  }
}

.brandlogo{
    height: 68px;
  width: auto;
  margin: 0;
}

.hamburg{
    fill: #fff;
    cursor: pointer;
  width: 90px;
  height: 60%;
}

@media only screen and (max-width: 600px) {
  .navbar-wrapper{
    height: 67px;

  }
  .navbar-wrapper.accordOpen{
    height: 283px;
  }
  .accordion-title{
    height: 27px;
  }
  .brandlogo{
    height: 27px;
  }
  .hamburg{
    height: 20px;
  }
  .brandname{
    font-size: large;
    transform: translateX(20px);
  }
  .links h1{
    font-size: medium;
  }
}