.nav-container{
  height: 168px;
  position: relative;
  z-index: 10;
}

.navbar-wrapper {
  overflow: hidden;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  /* right: 50; */
  box-sizing: border-box;
  margin: 30px auto;
  width: 95%;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 108px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  transition: height 0.3s cubic-bezier(.74,.34,.29,.68);
}

.navbar-wrapper.accordOpen {
  height: 372px;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.links h1 {
  color: black;
  font-size: x-large;
  margin: 10px auto;
}

.accordion-title {
  height: 68px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brandname {
  user-select: none;
  background: -webkit-linear-gradient(
    180deg,
    rgb(150, 150, 150),
    #131313,
    rgb(150, 150, 150),
    #131313,
    rgb(150, 150, 150),
    #131313,
    rgb(150, 150, 150),
    #131313,
    rgb(150, 150, 150)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position-x: left;
  animation: grad 5s linear infinite;
}

@keyframes grad {
  from {
    background-position-x: left;
  }
  to {
    background-position-x: right;
  }
}

.brandlogo {
  height: 68px;
  width: auto;
  margin: 0;
}

.hamburg {
  fill: #000;
  cursor: pointer;
  width: 90px;
  height: 60%;
}

@media only screen and (max-width: 600px) {
  .nav-container{
    height: 108px;
  }
  .navbar-wrapper {
    margin: 10px auto;
    height: 67px;
    width: 90%;
  }
  .navbar-wrapper.accordOpen {
    height: 283px;
  }
  .accordion-title {
    height: 27px;
  }
  .brandlogo {
    height: 35px;
  }
  .hamburg {
    height: 20px;
    margin-right: -20px;
  }
  .brandname {
    font-size: large;
    transform: translateX(20px);
  }
  .links h1 {
    font-size: medium;
  }
}
