.navbar-wrapper {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  /* right: 50; */
  box-sizing: border-box;
  margin: 30px auto;
  width: 95%;
  background-color: black;
  height: auto;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  transition: height 2s ease-in;
}

.navbar-wrapper > h1{
  color: white;
  font-size: x-large;
  margin: 10px auto;
}
.navbar-wrapper.openAccord{
  height: 270px;
}

.accordion-title {
  height: 68px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brandname {
  user-select: none;
  background: -webkit-linear-gradient(
    180deg,
    #eee,
    #535353,
    #eee,
    #535353,
    #eee,
    #535353,
    #eee,
    #535353,
    #eee
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position-x: left;
  animation: grad 5s linear infinite;
}

@keyframes grad {
  from {
    background-position-x: left;
  }
  to {
    background-position-x: right;
  }
}

.brandlogo{
    height: 68px;
  width: auto;
  margin: 0;
}

.hamburg{
    fill: #fff;
    cursor: pointer;
  width: 90px;
  height: 60%;
}