.foot{
    position: relative;
    bottom: 0;
    width: 100%;
    /* height: 240px !important; */
    margin: 50px auto;

    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.foot .copyright{
    margin: 20px;
    margin-bottom: 30px;
    color: white;
}

.contact{
    display: flex;
    width: fit-content;
    height: fit-content;
}

.cnt-items{
    margin: 10px;
    fill: white;
    transition: 0.5s ease;

}

a{
    
}

.contact a:hover{
    border: 2.5px solid orange;
    
}
.contact a:hover .cnt-items{
    fill: orange;

}